@import "tailwindcss";

:root {
  --bg-color: #f0f9ff;
  --text-color: #1e3a8a;
  --accent-color: #3b82f6;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a, select, .active {
  color: var(--accent-color);
}

header svg path {
  fill: var(--text-color);
}
header svg:hover path {
  fill: var(--accent-color);
}
header svg:hover {
  cursor: pointer;
}
