@import "tailwindcss";

:root {
  --bg-color: #1e293b;
  --text-color: #e0f2fe;
  --accent-color: #60a5fa;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a, select, .active {
  color: var(--accent-color);
}

header svg path {
  fill: var(--text-color);
}
header svg:hover path {
  fill: var(--accent-color);
}
header svg:hover {
  cursor: pointer;
}
