@import "tailwindcss";

:root {
  --bg-color: #2c5282;
  --text-color: #fde047;
  --accent-color: #facc15;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a, select, .active {
  color: var(--accent-color);
}

header svg path {
  fill: var(--text-color);
}
header svg:hover path {
  fill: var(--accent-color);
}
header svg:hover {
  cursor: pointer;
}
